<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<div class="container-fluid">
  <h1 class="h1Strong">{{title}}</h1>
  <div class="row">
    <div class="col-lg-4">

      <div class="sidebar-admin">
        <ul class="messagesOptList">
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['enviar']">Enviar mensaje</a>
          </li>
          <li>
            <a [routerLink]="['recibidos']" [routerLinkActive]="['active']">Mensaje recibidos</a>
          </li>
          <li>
            <a [routerLink]="['enviados']" [routerLinkActive]="['active']">Mensajes enviados</a>
          </li>
          <li>
            <a [routerLink]="['/home']">Información</a>
          </li>
        </ul>
      </div>
    </div>


    <!-- Componentes -->
    <div class="col">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
