<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a [routerLink]="['/home']" class="navbar-brand"><h3 class="logoNav">Te<i class="fa fa-paper-plane"></i>apuntas?</h3></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto" *ngIf="identity">

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/home']"><span class="fa fa-home"></span> Inicio</a>

          </li><!--Mientras no se este logeado no se muestra el menu superior fas fa-home-->

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">

                <span class="fa fa-th-list"> Timeline</span>

              </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/gente']" [routerLinkActive]="['active']">

                <span class="fa fa-user"> Gente</span>

              </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/mensajes']" [routerLinkActive]="['active']">

                <span class="fa fa-envelope"> Mensajes</span>

              </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/viajes']" [routerLinkActive]="['active']">

                <span class="fa fa-paper-plane"> Viajes</span>

              </a>

          </li>

      </ul>



      <ul class="navbar-nav ml-auto" id="registerLeftMenu" *ngIf="!identity">

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/login']"  [routerLinkActive]="['active']">

              <span class="fas fa-sign-in-alt"> Login</span>

            </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/registro']"  [routerLinkActive]="['active']" >

                <span class="fa fa-user"> Registrarse</span>

              </a>

          </li>

      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="identity">
        

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            {{identity.name}}

          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" [routerLink]="['/perfil', identity._id]">Mi perfil</a>

            <a class="dropdown-item" [routerLink]="['/mis-datos']">Mis datos</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item pointer" (click)="logout()">

              <span class="fa fa-log-out"></span>Cerrar sesión

            </a>

          </div>

        </li>

        <li class="avatar">

            <img src="{{url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image"/>

        </li>

      </ul>

  </div>

</nav>

<router-outlet></router-outlet>

<footer class="mainfooter" role="contentinfo">

  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Columna1-->
        <div class="footer-pad">
          <h4>Dirección</h4>
          <address>
								<ul class="list-unstyled">
									<li>
                    C/Lorem<br>
										Ipsum Nº1<br>
										Barcelona<br>
										08343<br>
									</li>
									<li>
										Teléfono: 123456789
									</li>
								</ul>
							</address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Nuestros servicios</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Agencias de viajes</a></li>
            <li><a href="#">Guías turísticos</a></li>
            <li><a href="#">Formularios</a></li>
            <li><a href="#">Noticias y actualizaciones</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Nuestro Sitio Web</h4>
          <ul class="list-unstyled">
            <li><a href="#">Emiliano el grande</a></li>
            <li><a href="#">Accessibilidad</a></li>
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Sit amet</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Síguenos en:</h4>
          <ul class="list-unstyled">
            <li><a href="#">facebook <i class="fab fa-facebook-square social"></i></a></li>
            <li><a href="#">twitter <i class="fab fa-twitter social"></i></a></li>
            <li><a href="#">google+ <i class="fab fa-google-plus social"></i></a></li>
            <li><a href="#">instagram <i class="fab fa-instagram social"></i></a></li>
            <li><a href="#">linkedin <i class="fab fa-linkedin social"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2018 - Barcelona.  Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
