<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">



<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto" *ngIf="identity">

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/home']"><span class="fa fa-home"></span> Inicio</a>

          </li><!--Mientras no se este logeado no se muestra el menu superior fas fa-home-->

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">

                <span class="fa fa-th-list"> Timeline</span>

              </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/gente']" [routerLinkActive]="['active']">

                <span class="fa fa-user"> Gente</span>

              </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/mensajes']" [routerLinkActive]="['active']">

                <span class="fa fa-envelope"> Mensajes</span>

              </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/viajes']" [routerLinkActive]="['active']">

                <span class="fa fa-paper-plane"> Viajes</span>

              </a>

          </li>

      </ul>



      <ul class="navbar-nav ml-auto" id="registerLeftMenu" *ngIf="!identity">

          <li class="nav-item">

            <a class="nav-link" [routerLink]="['/login']"  [routerLinkActive]="['active']">

              <span class="fas fa-sign-in-alt"> Login</span>

            </a>

          </li>

          <li class="nav-item">

              <a class="nav-link" [routerLink]="['/registro']"  [routerLinkActive]="['active']" >

                <span class="fa fa-user"> Registrarse</span>

              </a>

          </li>

      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="identity">
        <form class="form-inline my-2 my-sm-0">

          <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>

        </form>

        <li class="nav-item dropdown">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            {{identity.name}}

          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" [routerLink]="['/perfil', identity._id]">Mi perfil</a>

            <a class="dropdown-item" [routerLink]="['/mis-datos']">Mis datos</a>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item pointer" (click)="logout()">

              <span class="fa fa-log-out"></span>Cerrar sesión

            </a>

          </div>

        </li>

        <li class="avatar">

            <img src="{{url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image"/>

        </li>

      </ul>

  </div>

</nav>

<router-outlet></router-outlet>

<footer class="mainfooter" role="contentinfo">

  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Address</h4>
          <address>
								<ul class="list-unstyled">
									<li>
                    City Hall<br>
										212  Street<br>
										Lawoma<br>
										735<br>
									</li>
									<li>
										Phone: 0
									</li>
								</ul>
							</address>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Popular Services</h4>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#">Payment Center</a></li>
            <li><a href="#">Contact Directory</a></li>
            <li><a href="#">Forms</a></li>
            <li><a href="#">News and Updates</a></li>
            <li><a href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Website Information</h4>
          <ul class="list-unstyled">
            <li><a href="#">Website Tutorial</a></li>
            <li><a href="#">Accessibility</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Webmaster</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Popular Departments</h4>
          <ul class="list-unstyled">
            <li><a href="#">Parks and Recreation</a></li>
            <li><a href="#">Public Works</a></li>
            <li><a href="#">Police Department</a></li>
            <li><a href="#">Fire</a></li>
            <li><a href="#">Mayor and City Council</a></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2016 - City of USA.  All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
