<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="identity">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']"><span class="fa fa-home"></span> Inicio</a>
          </li><!--Mientras no se este logeado no se muestra el menu superior fas fa-home-->
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/timeline']" [routerLinkActive]="['active']">
                <span class="fa fa-th-list"> Timeline</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/gente']" [routerLinkActive]="['active']">
                <span class="fa fa-user"> Gente</span>
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/mensajes']" [routerLinkActive]="['active']">
                <span class="fa fa-envelope"> Mensajes</span>
              </a>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto" id="registerLeftMenu" *ngIf="!identity">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']"  [routerLinkActive]="['active']">
              <span class="fas fa-sign-in-alt"> Login</span>
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['/registro']"  [routerLinkActive]="['active']" >
                <span class="fa fa-user"> Registrarse</span>
              </a>
          </li>
      </ul>

      <ul class="navbar-nav ml-auto" *ngIf="identity">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/perfil', identity._id]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/mis-datos']">Mis datos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item pointer" (click)="logout()">
              <span class="fa fa-log-out"></span>Cerrar sesión
            </a>
          </div>
        </li>
        <li class="avatar">
            <img src="{{url + 'get-image-user/' + identity.image }}" *ngIf="identity && identity.image"/>
        </li>
      </ul>
    <!--form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form-->
  </div>
</nav>
<router-outlet></router-outlet>
