
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3 class="messagesTitle">{{title}}</h3>

      <div class="people" *ngIf="messages">
        <div *ngFor="let message of messages" class="item-user">
          <!---Listado-->
          <div class="panel panel-default">
            <div class="panel-body" *ngIf="message.emitter">

              <div class="image_user">
                <a href="#">
                  <img src ="{{url + 'get-image-user/' + message.emitter.image}}" *ngIf="message.emitter.image" />
                  <img src ="assets/user.png" *ngIf="!message.emitter.image" />
                </a>
              </div>
              <div class="user_name">
                <p class="name-surname">
                  <a [routerLink]="['/perfil', message.emitter._id]">
                    {{message.emitter.name + ' ' + message.emitter.surname}}
                  </a>
                  &nbsp;|&nbsp;
                  <span class="nickname">{{message.emitter.nick}}</span>
                  &nbsp;|&nbsp;
                  <span class="date nickname">
                    {{(message.created_at | amFromUnix) | amLocale: 'es' | amTimeAgo}} <!-- convierte el time stamp primero a date, despues le defino el idioma y despues lo pasa por el timeago-->
                  </span>

                </p>
                <p >
                  {{message.text}}
                </p>
                <input type="button" value="borrar" (click)="deleteMessage(message._id)" [routerLink]="['/mensajes']"/>
              </div>

            </div>
          </div>
        </div>
        <!-- Paginacion -->
        <ul class="pagination">
          <li *ngIf="page > 1 ">
            <a [routerLink]="['/mensajes/recibidos',  prev_page]">
              Anterior <i class="fas fa-arrow-alt-circle-left"></i>
            </a>
          </li>
          <li *ngIf="pages != page">
            <a [routerLink]="['/mensajes/recibidos',  next_page]">
              Siguiente <i class="fas fa-arrow-alt-circle-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
