<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<div class="container-fluid" *ngIf="user">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="h1Strong">
        {{title+' de '+user.name + ' ' + user.surname}}
      </h1>

      <div  id="data-profile" >
        <div class="row profileCont">
          <div class="col-lg-2 col-md-2 col-sm-0 col-sx-0">
          </div>
          <div class="user-name col-lg-3 col-md-3 col-sm-3 col-sx-3">
            <div class="label label-default" *ngIf="user._id != identity._id && followed">
              <h4>Te sigue</h4>
            </div>
            <div class="infoUser">
              <p class="name">{{user.name + ' ' + user.surname}}</p>
              <div class="nick"> {{user.nick}}</div>
            </div>
            <div class="stats" *ngIf="stats">
              <div class="following-data">
                <a [routerLink]="['/siguiendo', user._id, 1]">
                  <span class="label-stats">
                    Siguiendo
                  </span>
                  <span class="number-stats">
                    {{stats.following}}
                  </span>
                </a>
              </div>

              <div class="following-data">
                <a  [routerLink]="['/seguidores', user._id, 1]">
                  <span class="label-stats">
                    Seguidores
                  </span>
                  <span class="number-stats">
                    {{stats.followed}}
                  </span>
                </a>
              </div>

              <div class="following-data">
                <a [routerLink]="['/perfil', identity._id]">
                  <span class="label-stats">
                    Publicaciones
                  </span>
                  <span class="number-stats">
                    {{stats.publications}}
                  </span>
                </a>
              </div>
            </div>
            <button class="btn btn-success userButtons"  *ngIf="!following && identity._id!=user._id" (click)="followUser(user._id)">
              Seguir <i class="fas fa-user-plus"></i>
            </button>

            <!--Eliminar cuenta-->
            <a href="#myModal{{identity._id}}" class="delAccount" role="button" data-toggle="modal" *ngIf="identity._id==user._id">
              <button class="btn btn-danger userButtons"  >
                borrar cuenta <i class="fa fa-trash"></i>
              </button></a>
              <!-- Modal HTML -->
              <div id="myModal{{identity._id}}" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Borrar Cuenta</h4>
                      <button type="button" class="close closeButton" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                      <p class="text-alert">¿Esta seguro de que quieres eliminar tu cuenta?</p>
                      <p class="text-danger">Tu cuenta será eliminada de forma permanente.</p>
                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteAccount(identity._id)">Eliminar cuenta definitivamente</button>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-primary"
              *ngIf="user._id != identity._id && following"
              (click)="unfollowUser(user._id)"
              (mouseenter)="mouseEnter(user._id)"
              (mouseleave)="mouseLeave()"
              [class.btn-danger]="user._id == followUserOver">
              <span *ngIf="user._id == followUserOver ; else following">
                Dejar de seguir <i class="fa fa-user-slash"></i>
              </span>
              <ng-template #following>
                Siguiendo <i class="fa fa-user-check"></i>
              </ng-template>
            </button>
          </div>
          <div class="avatar col-lg-5 col-md-5 col-sm-5 col-sx-5">
            <img src="{{url + 'get-image-user/' + user.image}}"  *ngIf="user.image"/>
            <img src="assets/user.png" *ngIf="!user.image"/>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-0 col-sx-0">
          </div>

        </div>
        <div class="col-lg-12" *ngIf="user">
          <publications [user]="user._id"></publications>
        </div>
      </div>
    </div>
  </div>
</div>
