<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Luckiest+Guy" rel="stylesheet">

<div class="container-fluid">
<div class="row">
    <div class="col col-md-12" id="user-card">
      <h1 class="h1Strong">Hola, {{identity.name}}</h1>


      <div class="avatar pull-left">
        <img src="{{url + 'get-image-user/' + identity.image}}" *ngIf="identity.image"/>

        <img src="assets/user.png" *ngIf="!identity.image"/>
      </div>


      <div class="name-surname pull-left">
        <a [routerLink]="['/perfile', identity._id]">
          {{identity.name + ' '+ identity.surname}}
        </a>
        <p class="nickname">
          {{identity.nick}}
        </p>
      </div>

      <div class="stats" *ngIf="stats">
        <div class="following-data">
          <a  [routerLink]="['/siguiendo', identity._id, 1]">
            <span class="label-stats">
              Siguiendo
            </span>
            <span class="number-stats">
              {{stats.following}}
            </span>
          </a>
        </div>

        <div class="following-data">
          <a [routerLink]="['/seguidores', identity._id, 1]">
            <span class="label-stats">
              Seguidores
            </span>
            <span class="number-stats">
              {{stats.followed}}
            </span>
          </a>
        </div>

        <div class="following-data">
          <a [routerLink]="['/perfil', identity._id]">
            <span class="label-stats">
              Publicaciones
            </span>
            <span class="number-stats">
              {{stats.publications}}
            </span>
          </a>
        </div>

      </div>
    </div>

</div>
<!-- Formulario de publicaciones -->

<div class="row">

    <div id="new-publication" class="col">

      <div class="alert alert-success" *ngIf="status == 'success'">
        Publicación enviada correctamente
      </div>
      <div class="alert alert-danger" *ngIf="status == 'error'">
        Publicación no enviada
      </div>

      <form #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-lg-10">
          <label>¿Qué estas pensando hoy?</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required>
            </textarea>
            <span *ngIf="!text.valid && text.touched">
              El texto de la publicación es obligatorio
            </span>
          <br>

          <label>Sube una foto</label>
            <input type="file" class="form-control-file border" (change)="fileChangeEvent($event)"/>
            <br>
            <input type="submit" value="Enviar" class="btn btn-success" [disabled]="!newPubForm.form.valid" />
      </form>
    </div>
</div>
</div>
