/*Generales*/

html, body {
    width: 100%;
    min-height: 100%;

}
body{
  margin: 0%;
  padding: 0%;
  font-family: 'Open Sans', sans-serif !important;
  background: linear-gradient(yellow,orange);
  background-repeat: no-repeat;
}

.h1Strong,.logoNav{
  font-family: 'Luckiest Guy', cursive !important;
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
                0 0 20px #ff1b00,
                0 0 30px #ff1b00,
                0 0 40px #ff1b00,
                0 0 50px #ff1b00;
}

/*Cabecera*/

.navbar-dark .navbar-nav .nav-link{
  color: #e5e944 !important;
  font-weight: bold !important;
  transition: all 1s;
}


#navbarDropdown, #registerLeftMenu .nav-link,
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item{
  color: #f28a26 !important;
  font-weight: bold !important;
  transition: all 1s;
}

#navbarDropdown:hover, #registerLeftMenu .nav-link:hover,
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover{
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
	              0 0 20px #ff1b00,
	              0 0 30px #ff1b00,
	              0 0 40px #ff1b00,
	              0 0 50px #ff1b00;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: #ff1b00 !important;
  text-shadow:  0 0 10px #fff,
	              0 0 20px #ffda00,
	              0 0 30px #ffda00,
	              0 0 40px #ffda00,
	              0 0 50px #ffda00;
}

.bg-dark{
  background: linear-gradient(-90deg, yellow ,red);
  box-shadow: 0px 1px 17px #777,
              0px 12px 15px red;
  position:relative;
  z-index:999;
  margin-bottom: 2%;
}

.dropdown{
  padding: 7px 15px 7px 7px;
}

.navbar-dark .navbar-toggler{
  color: #f28a26 !important;
  font-weight: bold !important;
  transition: all 1s;
}

.navbar-dark .navbar-toggler:hover{
  color: #ffda00 !important;
  box-shadow:  0 0 10px #ff1b00,
	             0 0 20px #ff1b00,
	             0 0 30px #ff1b00;
}

.navbar-expand-lg .navbar-nav .dropdown-menu,
.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover{
  background: #ffe200;
}


/*Home*/
.carousel-inner{
  border: 1px solid yellow;
  border-radius: 5px;
  box-shadow:  0 0 10px #ff1b00,
               0 0 20px #ff1b00,
               0 0 30px #ff1b00;
}

.carousel-inner img{
      width: 100%;
      height: 100%;
}

.carousel-caption h3,.carousel-caption p{
  font-weight: bold;
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
	              0 0 20px #ff1b00,
	              0 0 30px #ff1b00,
	              0 0 40px #ff1b00,
	              0 0 50px #ff1b00;
}


/*FOOTER*/
footer{
  margin-bottom: 0% !important;
  width: 100%;
  bottom: 0;
  left: 0;
}
i.social{
  font-size: x-large;
}
.footer-pad, .footer-pad ul li a, .footer-bottom{
  font-family: 'Luckiest Guy', cursive !important;
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
	              0 0 20px #ff1b00,
	              0 0 30px #ff1b00,
	              0 0 40px #ff1b00,
	              0 0 50px #ff1b00;
  transition: all 1s;
}

.footer-pad ul li a:hover{
  text-decoration: none;
  color: #ff1b00 !important;
  text-shadow:  0 0 10px #fff,
	              0 0 20px #ffda00,
	              0 0 30px #ffda00,
	              0 0 40px #ffda00,
	              0 0 50px #ffda00;
}

.footer-bottom{
  background: #c21313;
  padding: 1em;
}
.footer-top{
  background: #2d4958;
}
.footer-middle{
  background: linear-gradient(-90deg, yellow ,red);
  box-shadow: 0px -6px 15px #b32424;
  position:relative;
  z-index:999;
  margin-top: 2%;
  padding-top: 2em;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px;
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}

.pointer{
    cursor: pointer;
}

.imagenSubida img{
  border-radius: 10px;
  width: 30%;
  border: 3px solid  #ff1b00;
  box-shadow:  0 0 10px #ff1b00,
                0 0 20px #ff1b00,
                0 0 30px #ff1b00;
}

.navbar-nav.ml-auto .avatar{
    width: 45px;
    height: 45px;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 1px;
    border: 1px solid #f28a26;
}

.navbar-nav.ml-auto .avatar img{
    height: auto;
    width: 45px;
}

/*Usuarios*/
.item-user-for-edit img{
    height: 60px;
}

.item-user .image_user, .item-publication .image_user{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    border: 3px solid #f28a26;
}

.item-user .image_user img,
.item-publication .image_user img{
    width: 75px;
}

.item-user .user-name,
.item-publication .image_user{
    margin-top:10px;
}

.item-publication .user-name{
    margin-top: 10px;
}

.item-user .user_name .nickname{
    color :#969393;
}

.item-user .user_name .name-surname a{
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive !important;
    color: #ff1b00;
    font-weight: bold;
    transition: all 1s;
}

.item-publication .name-surname{
  margin-bottom: 0%;
}

/* Sidebar */

#user-card{
    padding-left: 10%;
}

#new-publication{
    margin-top: 10%;
    padding-left: 5%;
}

#user-card .avatar{
    width: 130px;
    height: 130px;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 15px;
    border: 3px solid #f28a26;
}
#user-card .avatar img{
    width: 100%;
}

#user-card .name-surname{
    font-weight: 300;
    font-size : 17px;
}

#user-card .name-surname .nickname{
    color:  #969393;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align:center;
    transition: all 300ms;
}

#user-card .label-stats{
    color: #ff1b00;
    font-weight:  bold;
}
#user-card .number-stats{
    color: green;
    font-weight:  bold;
}

#user-card .stats a:hover .number-stats{
    color: #cc1717;
    font-weight:  bold;
}

#user-card .stats{
    border-top: 1px solid #ff1b00;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}

#user-card .stats a{
    text-decoration: none;
}

#user-card .following-data{
    float: left;
    padding-left: 15px;
    padding-right: 18px;
    margin-top : 10px;
    border-right: 1px solid #ff1b00;
}

#user-card .following-data:first-child{
    padding-left : 0;
}

#user-card .following-data:last-child{
    border: none
}


label, #user-card .label-stats{
  font-family: 'Luckiest Guy', cursive !important;
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
	              0 0 20px #ff1b00,
	              0 0 30px #ff1b00,
	              0 0 40px #ff1b00,
	              0 0 50px #ff1b00;
}

.border.form-control-file{
  color: #ff1b00;
  border:1px solid#ff1b00 !important;
}

/*Timeline */

#publications{
    min-height: 500px;
}

#publications .date{
    color: grey;
}


/* Perfil */

#data-profile{
  margin-bottom: 2%;
}

#data-profile .avatar{
    overflow: hidden;
    margin:0px auto;
    margin-bottom: 3%;
    padding: 3%;

}

#data-profile .avatar img{
  border-radius: 10px;
  width: 80%;
  border: 3px solid  #ff1b00;
  box-shadow:  0 0 10px #ff1b00,
	              0 0 20px #ff1b00,
	              0 0 30px #ff1b00;

}

#data-profile .user-name .name{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Luckiest Guy', cursive !important;
    color: #ff1b00;

}

#data-profile .user-name{
    margin-top: 4%;
    margin-bottom: 2%;
}

#data-profile .user-name .label{
    margin-bottom: 15px
}


#data-profile .user-name .nick{
    font-size: 24px;
    font-weight: normal;
    color: grey;

}

#data-profile .stats {
    margin-top: 4%;
    border-left: 4px solid #ff1b00;
    height: 180px;
}

#data-profile .stats a, .messagesOptList li a,
.item-publication .user-name, #user-card .name-surname a,
.modal-header, .text-alert, .closeButton{
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive !important;
    color: #ff1b00 !important;
    transition: all 1s;
}



#data-profile .stats a:hover, .messagesOptList li a:hover,
.item-user .user_name .name-surname a:hover,
.item-publication .user-name:hover,
#user-card .name-surname a:hover, .closeButton:hover{
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
                0 0 20px #ff1b00,
                0 0 30px #ff1b00,
                0 0 40px #ff1b00,
                0 0 50px #ff1b00;
}

#data-profile .stats a, .messagesOptList li a{
  font-size: 26px;
  line-height: 35px;
}

.infoUser{
  margin-bottom: 50%;
}

.userButtons{
  margin-left: 1%;
}

/* Gente + Timeline*/

.people{
    min-height: 500px;
}
.item-user, .item-publication {
  border: 1px solid #ff1b00;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 1%;
  transition: all 1s;
}
.item-user:hover, .item-publication:hover{
  box-shadow:  0 0 10px #ff1b00,
               0 0 20px #ff1b00,
               0 0 30px #ff1b00;
}

.publication-button, .pagination{
  float: right;
  margin-right: 0.5%;
}

.follow-button{
  float: right;
  display: inline-block;
  margin-top: 0%;
}

/* MAPS Google*/

agm-map{
    height: 300px;
}

area{
    background-color:  blue;
}

agm-marker{
    color:blue;
    background-color: blue;
}


.viajes{
    height: 500px;
}

/*modal box*/

.publicationTex{
  color: #000 !important;
  font-family: 'Open Sans',sans-serif !important;
}

.modal.show, .modal-dialog,.modal-content{
  border-radius: 10px;
  border: 1px solid #ff1b00;
}
.modal-content{
  background: linear-gradient(yellow,orange);
  text-align: left;
}

.closeButton{
  margin-left: 0% !important;
  font-size: 2.5rem !important;
  margin-right: 2%;
}

.modal-title{
  margin-right: auto;
}

/*Paginación*/
.pagination li a{
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Luckiest Guy', cursive !important;
  color: #ffda00 !important;
  text-shadow:  0 0 10px #ff1b00,
	              0 0 20px #ff1b00,
	              0 0 30px #ff1b00,
	              0 0 40px #ff1b00,
	              0 0 50px #ff1b00;
  transition: all 1s;
}

.pagination li a:hover{
  color: #ff1b00 !important;
  text-shadow:  0 0 10px #fff,
	              0 0 20px #ffda00,
	              0 0 30px #ffda00,
	              0 0 40px #ffda00,
	              0 0 50px #ffda00;
}



.btn{
  color: #ffda00 !important;
  font-family: 'Luckiest Guy', cursive !important;
}

/*Mensajes*/

.messagesOptList{
  list-style-type: none;
}
.messagesTitle{
  font-size: 26px;
  line-height: 35px;
  font-family: 'Luckiest Guy', cursive !important;
  color: #ff1b00;
}

/*Formulario login*/

#ngForm{
  margin-bottom: 2%;
}
router-outlet{
  height: 100%;
}


/*Galeria de maps*/

.galeryMini img{
    max-width: 100px;
}
